# Auto detect text files and perform LF normalization
* text=auto

# Ignore html
*.html linguist-vendored

# Ignore Javascript
*.js linguist-vendored

# Include Rmd files in repo Languages pane
*.[Rr]md linguist-detectable
*.qmd linguist-detectable linguist-language=RMarkdown
